@model GuildCars.UI.Models.SalesReportViewModel
@{
    ViewBag.Title = "Sales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        /*height: 200px;
        border: 3px solid green;*/
    }
</style>
<h2>Sales Report</h2>
@using (Html.BeginForm("Sales", "Reports", FormMethod.Post, new { @class = "form-inline form" }))
{

    <div class="row" style="border:solid 1px black; width:995px">
        <h4 style="padding: 5px 5px 5px 10px">Filters</h4>
        <div class="form-group">
            <label style="padding: 0px 10px 0px 20px">User</label>
            @Html.DropDownListFor(m => m.UserName, Model.UDDList, "- ALL -", new { style = "width: 250px; height:30px;" })
        </div>

        <div class="form-group" style="padding-top:10px;padding-bottom:10px">
            <label style="padding: 0px 10px 0px 20px">From Date</label>
            <input type="text" class="form-control" id="fromDate" placeholder="" value="01/01/2018">
        </div>

        <div class="form-group" style="padding-top:10px;padding-bottom:10px">
            <label style="padding: 0px 10px 0px 20px">To Date</label>
            <input type="text" class="form-control" id="toDate" placeholder="" value="@DateTime.Now.ToString("MM/dd/yyyy")">
        </div>

        <div class="form-group" style="padding: 0px 40px 20px 30px">
            <button Type="button" class="button" onclick="loadnew()" style="padding: 0px 40px 0px 40px">Search</button>
        </div>

    </div>
}

<div id="search-div" class="row" style="border:solid 1px black; width:995px;padding-left:50px">


</div>

<script src="~/Scripts/ReportSalesSearch.js"></script>
