@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>In 1973 John Guild sold his used car to a person that had bad luck in the past choosing the right car for their family. Soon it bacame obvious what a difference 
    John had made in someone else's life. John wanted to continue the joy it brought to him personllay by helping others.</p>

<p>By 1974, John had grown his inventory from his one used car to nearly 30 vehicles that he was able to buy, evaluate, make road worthy and resell to become well on his way to where the dealership is today.
</p>

<p>Today Guild Cars, has over 100 new and used vehicles in our inventory and we continue to sell high quality vehicles that our customers can not only depend on, but trust that are buying a vehicle that will
    server them well. We inspect and maintain every vehicle to a high standard that our customers have grown to depend on over the years. Which is why they continue to be return customers as their families 
    grow and thier needs change.</p>

<p>If you are in need of a new or used vehicle, please come to one of our dealerships for a test drive or view our online inventory from the comfort of your own home.</p>