
@{
    ViewBag.Title = "Used";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        /*height: 200px;
        border: 3px solid green;*/
    }
</style>

<div class="container">
    <h2>Used Vehicles</h2>
    <form class="search-form">
        <p style="text-align:left"><strong>Quick Search</strong></p>
        <div class="row">
            <div class="form-group col-lg-3 col-md-12">
                <input type="text" class="form-control" id="searchTerm" placeholder="Enter make, model, or year">
                <input type="hidden" id="Type" value="2" />
            </div>
            <div class="col-lg-1"></div>
            <div class="form-group form-inline col-lg-4 col-md-12">
                <label>Price</label>
                <select class="form-control" id="minPrice">
                    <option value="0">No Min</option>
                    <option value="20000">$20,000</option>
                    <option value="25000">$25,000</option>
                    <option value="30000">$30,000</option>
                    <option value="35000">$35,000</option>
                    <option value="40000">$40,000</option>
                    <option value="50000">$50,000</option>
                    <option value="60000">$60,000</option>
                </select>
                <select class="form-control" id="maxPrice">
                    <option value="200000">No Max</option>
                    <option value="20000">$20,000</option>
                    <option value="25000">$25,000</option>
                    <option value="30000">$30,000</option>
                    <option value="35000">$35,000</option>
                    <option value="40000">$40,000</option>
                    <option value="50000">$50,000</option>
                    <option value="60000">$60,000</option>
                </select>
            </div>
            <div class="form-group form-inline col-lg-4 col-md-12">
                <label>Year</label>
                <select class="form-control" id="minYear">
                    <option value="0">No Min</option>
                    <option value="2010">2010</option>
                    <option value="2011">2011</option>
                    <option value="2012">2012</option>
                    <option value="2013">2013</option>
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                </select>
                <select class="form-control" id="maxYear">
                    <option value="3000">No Min</option>
                    <option value="2010">2010</option>
                    <option value="2011">2011</option>
                    <option value="2012">2012</option>
                    <option value="2013">2013</option>
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                </select>
            </div>
        </div>
        <div class="center">
            <button type="button" id="SearchButton" class="btn btn-default" onclick="loadnew()" style="width:25%">Search</button>
        </div>

    </form>
    <h2>Search Results</h2><hr />
    <div id="search-div">


    </div>
</div>


<script src="~/Scripts/SearchScript.js"></script>

